@import"bootstrap\dist\css\bootstrap.css";

 * {
    font-family: 'Press Start 2P', cursive;
    /* font-family: 'Montserrat', sans-serif; */
 }

 .hoverableCard {
   transition: all 0.3s cubic-bezier(0.47, 0, 0.37, 1.47);
 }

.hoverableCard:hover {
   box-shadow: black 10px 10px 0px;
   transform: translate(-5px, -5px);
   border: 1px solid black;
}

.post-animation {
   opacity: 0;
   transform: translateY(-10px);
   transition: opacity 1s cubic-bezier(0.175, 0.885, 0.32, 1.275), transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 }
 
 .post-animation.show {
   opacity: 1;
   transform: translateY(0);
 }